# .gitignore
# Secrets / env
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/

# Builds / artifacts
dist/
build/
*.egg-info/

# DB / données locales
*.db
*.sqlite
.ipynb_checkpoints/

# OS / éditeur
.DS_Store
Thumbs.db

# (option) Exclure le(s) PDF(s)
*.pdf
ml/model.joblib
